<title>Atleta</title>
<template>
    <style>

        svg{
            cursor: pointer;
        }

        .frm-atleta{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }

        .frm-atleta > *{
            width: 95%;
        }

        .inline{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 10px;
        }

        .inline label{
            padding-right: 10px;
            cursor: pointer;
        }

        .inline input{
            width: 80%;
        }

        .inline input[type=checkbox]{
            width: auto;
        }


    </style>

    <div class="frm-atleta">


        <fieldset>
            <legend>Nível</legend>
            <div class="inline">
                <label>Saque</label>
                <div class="rating-line">
                    <div class="rating">
                        <progress id="rtn-saque" class="rating-bg" value="1" max="5"></progress>
                        <svg id="svg-saque"><use xlink:href="#fivestars"/></svg>
                    </div>    
                </div> 
            </div>
    
    
            <div class="inline">
                <label>Passe</label>
                <div class="rating-line">
                    <div class="rating">
                        <progress id="rtn-passe" class="rating-bg" value="1" max="5"></progress>
                        <svg id="svg-passe"><use xlink:href="#fivestars"/></svg>
                    </div>    
                </div> 
            </div>
    
            <div class="inline">
                <label>Ataque</label>
                <div class="rating-line">
                    <div class="rating">
                        <progress id="rtn-ataque" class="rating-bg" value="1" max="5"></progress>
                        <svg id="svg-ataque"><use xlink:href="#fivestars"/></svg>
                    </div>    
                </div> 
            </div>
    
            <div class="inline">
                <label>Levantamento</label>
                <div class="rating-line">
                    <div class="rating">
                        <progress id="rtn-levanta" class="rating-bg" value="1" max="5"></progress>
                        <svg id="svg-levanta"><use xlink:href="#fivestars"/></svg>
                    </div>    
                </div> 
            </div>

        </fieldset>

        <button id="btnRanking" class="btn btn-primary">Salvar</button>
        
    </div>


</template>
<script>

    const data = mainData.avalAtl.data.perfil

    document.querySelector('.title-avalAtl').innerHTML = data.nick.toUpperCase()    
/*
    document.querySelector('#edtNomeAtl').disabled =  !(data.owner || data.self)
    document.querySelector('#ckbMensal').disabled = !data.owner
    document.querySelector('#btnBuscaAtl').style.display = (data.owner && data.id_user == '0') ? 'block' : 'none'
    document.querySelector('#btnDelAtl').style.display = (data.owner || data.self) ? 'block' : 'none'

*/

    fillAval()

    function fillAval(){
        const params = new Object
            params.id_avaliador = localStorage.getItem('idUser')
            params.id_avaliado = data.id_user

        const myPromisse = queryDB(params,17);
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            if(json.length > 0){
                document.querySelector('#rtn-saque').value = json[0].saque
                document.querySelector('#rtn-passe').value = json[0].passe
                document.querySelector('#rtn-ataque').value = json[0].ataque
                document.querySelector('#rtn-levanta').value = json[0].levanta
            }
        })
    }

    function getStar(e){
        const target = e.target;        
        let bar  = target.parentNode.querySelector('progress') 
        bar =  bar==null ?  target.parentNode.parentNode.querySelector('progress') : bar
        const rect = target.getBoundingClientRect();
        const x = e.clientX - rect.left;
        bar.value = parseFloat((x/(rect.width/5)).toFixed(2))
        return bar.value

    }

    document.querySelector('#svg-saque').addEventListener('click',(e)=>{
        !data.self ? getStar(e) : 0
    })

    document.querySelector('#svg-passe').addEventListener('click',(e)=>{
        !data.self ? getStar(e) : 0
    })

    document.querySelector('#svg-ataque').addEventListener('click',(e)=>{
        !data.self ? getStar(e) : 0
    })

    document.querySelector('#svg-levanta').addEventListener('click',(e)=>{
        !data.self ? getStar(e) : 0
    })

    document.querySelector('#btnRanking').addEventListener('click',()=>{
        const saque = document.querySelector('#rtn-saque').value
        const passe = document.querySelector('#rtn-passe').value
        const ataque = document.querySelector('#rtn-ataque').value
        const levanta = document.querySelector('#rtn-levanta').value

        const params = new Object;
            params.hash = localStorage.getItem('hash')
            params.id_avaliado = data.id_user
            params.saque = saque
            params.passe = passe
            params.ataque = ataque
            params.levanta = levanta            

        const myPromisse = queryDB(params,7);
        myPromisse.then((resolve)=>{
            closeModal(0)
        })

    })



    
</script>    