<title></title>
<template>
    <style>

        .head-activity{
          display:flex; 
          gap:10px;
        }

        .head-activity-atleta{
          font-weight: bold;
          text-transform: capitalize;
        }

        .head-activity-data{
          font-size: 0.9em;
        }

        .head-activity-img{
          width: 40px;
          height: 40px;
        }

        .post-activity{
          display: flex;
          width: 100%;
          padding: 20px;
          background-color: white;
          border-radius: 15px;
          border: solid 1px white;
        }

        .post-activity:hover{
          cursor: pointer;
          border: solid 1px #105221;
        }

        .post-activity img{
          max-width: 150px;
        }

        .dados-treino{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .dados-treino div{
          text-align: center;

        }


        .post-activity p{
          text-indent: 0;
          padding: 0;
        }

        .map-activity .leaflet-control-zoom{
          display: none;
        }
        
        .perfil-board{
          width: 100%;
          height: 400px;
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
        }

        .perfil-img{
          display: flex;
          width: 100%;
          justify-content: center;
          top: -35px;
          position: relative;
        }

        .perfil-img img{
          width: 70px;
          height: 70px;
        }

        .perfil-nome{
          font-weight: bold;
          text-align: center;
          font-size: 1.5em;
        }

        .perfil-dados{
          display: flex;
          justify-content: space-around;
        }

        .perfil-seguindo, .perfil-seguidores, .perfil-atividades{
          width: 30%;
          height: 100px;
          text-align: center;
          justify-content: center;
          display: flex;
          align-items: center;
          font-size: 0.8em;
          word-spacing: 30%;
          text-indent: unset;
        }

        .social-icon{
          display: flex;
          gap: 5px;
        }

        .rating-line{
          display: flex;
          justify-content: center;
          /*width: 100%;*/
        }

        .nivel-line{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 50px;
          gap: 5px;
        }

        .nivel-line p{
          text-indent: 0;
          margin: 0;
          padding: 0;
        }

        /* BTN KUDOS E SCRAP */
        .btn-social{
          margin: 0 !important;
        }


        @media (max-width: 769px) {

          .post-activity{
            flex-wrap: wrap;
            justify-content: center;
          }
        }


    </style>

    <section class="perfil hide">
            
        <div class="perfil-board">
        <div class="perfil-img">
            <img id="perfil-img" class="imgUser" src="">
        </div>            
        <div class="perfil-nome"></div>

        <div class="perfil-dados">
            <p class="perfil-seguindo"></p>
            <p class="perfil-seguidores"></p>
            <p class="perfil-atividades"></p>
        </div>

        <svg style="display:none;">
            <defs>
            <symbol id="fivestars">
                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd"/>
                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd" transform="translate(24)"/>
                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd" transform="translate(48)"/>
                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd" transform="translate(72)"/>
                <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24" fill="white" fill-rule="evenodd" transform="translate(96)"/>
            </symbol>
            </defs>
        </svg>

        <div class="nivel-line">
            <p>Passe:</p>
            <h2 class="nivel-passe">1</h2>    
        </div>
        <div class="nivel-line">
            <p>Ataque:</p>
            <h2 class="nivel-ataque">1</h2>    
        </div>
        <div class="nivel-line">
            <p>Levantamento:</p>
            <h2 class="nivel-levanta">1</h2>    
        </div>
        <div class="nivel-line">
            <p>Saque:</p>
            <h2 class="nivel-saque">1</h2>    
        </div>

        <div class="rating-line">
            <div class="rating">
            <progress id="perfil-nivel" class="rating-bg" value="1" max="5"></progress>
            <svg><use xlink:href="#fivestars"/></svg>
            </div>    
        </div>

        </div>

    </section>

    <section class="dashboard"></section>

    <div class="view-activity"></div>


</template>
<script>

    const func = mainData.dashboard.func

    func.fillPerfil = ()=>{

      const params = new Object;
          params.id =  localStorage.getItem('idUser')

      const myPromisse = queryDB(params,11);
      myPromisse.then((resolve)=>{
          const json = JSON.parse(resolve)  
    
          const img = document.querySelector('#perfil-img') 
            img.src = `assets/users/${json[0].id}.jpg`
            breakImg(img)

          document.querySelector('#imgUser').src = img.src
          breakImg(document.querySelector('#imgUser'))

            document.querySelector('.perfil-seguindo').innerText = 'Seguindo '+json[0].SEGUINDO.padStart(2,0)
            document.querySelector('.perfil-seguidores').innerText = 'Seguidores '+json[0].SEGUIDO.padStart(2,0)
            document.querySelector('.perfil-atividades').innerText = 'Times '+json[0].TREINOS.padStart(2,0)
            document.querySelector('.perfil-nome').innerText = json[0].nick.toUpperCase()
            document.querySelector('#perfil-nivel').value = json[0].NIVEL
            document.querySelector('.nivel-saque').innerHTML = json[0].SAQUE
            document.querySelector('.nivel-passe').innerHTML = json[0].PASSE
            document.querySelector('.nivel-ataque').innerHTML = json[0].ATAQUE
            document.querySelector('.nivel-levanta').innerHTML = json[0].LEVANTA


          try{
              json[0].ALERTA_QTD = parseInt(json[0].WARNING) ? parseInt(json[0].WARNING) : ''
              json[0].ALERTA_ATV = []//json[0].MESSAGE.split(',')
              json[0].ALERTA_NOME = []//json[0].MESSAGE.split(',')
          }catch{
              json[0].ALERTA_QTD = ''
              json[0].ALERTA_ATV = []
              json[0].ALERTA_NOME = []
          }

          try{
              json[0].ALERTA_TORN_QTD = parseInt(json[0].ALERTA_TORN_QTD)
              json[0].ALERTA_TORN_ID = json[0].ALERTA_TORN_ID.split(',')
          }catch{
              json[0].ALERTA_TORN_QTD = ''
              json[0].ALERTA_TORN_ID = ''
          }

          mainData.data.perfil = json[0]
          document.querySelector('#alert').innerText = json[0].ALERTA_QTD
          document.querySelector('#alert-torn').innerText = json[0].ALERTA_TORN_QTD
      })
    }


    const back = backFunc({'filename':`../assets/users/${localStorage.getItem('idUser')}.jpg`},1)
    back.then((resp)=>{
        const imgExist = JSON.parse(resp)    
        document.querySelector('#perfil-img').src = imgExist ? `assets/users/${localStorage.getItem('idUser')}.jpg` : 'assets/default/user.jpeg'
    })  

    if(localStorage.getItem('log')=='1'){
      func.fillPerfil(localStorage.getItem('idUser'))
    }else{
      document.querySelector('.perfil').style.display = 'none'
      document.querySelector('.dashboard').style.width = '100%'
    }

    

    function mobileScreen(){
      if(window.innerWidth < 769){
        const menu_perfil = document.querySelector('.menu-perfil')
        const dash_perfil = document.querySelector('.perfil-board')
        menu_perfil.appendChild(dash_perfil)
      }
    }


    mobileScreen()
    loadActivity()
    



</script>