<title>
    
</title>
<template>
    <style>


        .form-perfil{
            padding: 20px ;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .top{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            justify-content: space-around;
        }

        .middle{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .perfil-box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .perfil-box p{
            padding: 0;
            text-indent: 0;
        }

        #pic-perfil{
            width: 100px;
            height: 100px;
        }

        #last-4{
            font-size: 3em;
            font-weight: 600;
        }

        .left-perfil{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
        }

        .rigth-perfil{
            width: 80%;
            display: flex;
            gap: 5px;
            justify-content: space-evenly;
            align-items: center;
        }

        .line{
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .line > *{
            padding: 0;
            text-indent: 0;
        }

    </style>

    <div class="form-perfil">

        <div class="top">
            <div class="left-perfil">
                <img id="pic-perfil" class="imgUser" src="assets/user.jpeg" alt="">
                <div class="rating-line">
                    <div class="rating">
                        <progress id="perfil-rating" class="rating-bg" value="2" max="5"></progress>
                        <svg><use xlink:href="#fivestars"/></svg>
                    </div>    
                </div>   
                <div class="line">
                    <p>nível:</p>
                    <h2 id="val-nivel">0</h2>
                </div>      
                <button id="btnMail" class="btn-round"><span class="mdi mdi-email"></span></button>          
            </div>

            <div class="rigth-perfil">
                <div class="perfil-box">
                    <p>Seguindo</p>
                    <p id="val-seguindo"></p>
                </div>
                <div class="perfil-box">
                    <p>Seguidores</p>
                    <p id="val-seguidores"></p>
                </div>
                <div class="perfil-box">
                    <p>Times</p>
                    <p id="val-atividades"></p>
                </div>                                              
            </div>

        </div>

        <div class="middle">
            <div class="perfil-box">
                <p>Últimas 4 semanas</p>
                <p id="last-4">0</p>
            </div>
            <div class="myDate"></div>
        </div>

        <div class="botton">
            <div class="activities"></div>
        </div>

    </div>


</template>
<script>

    const usr = parseInt(mainData.perfil.data.address)
    const back = backFunc({'filename':`../assets/users/${usr}.jpg`},1)
    back.then((resp)=>{
        const imgExist = JSON.parse(resp)    
        document.querySelector('#pic-perfil').src = imgExist ? `assets/users/${usr}.jpg?${new Date().getTime()}` : 'assets/default/user.jpeg'
    })

    document.querySelector('.myDate').appendChild(calendar())

    document.querySelector('#btnMail').addEventListener('click',()=>{
        openHTML('mail.html','modal',mainData.perfil.data)

    })

    function getPerfil(){

        function fillUserData(treinos){                
            document.querySelector('.title-perfil').innerHTML = treinos[0].nick
            document.querySelector('#val-seguindo').innerHTML = treinos[0].SEGUINDO
            document.querySelector('#val-seguidores').innerHTML = treinos[0].SEGUIDO
            document.querySelector('#val-atividades').innerHTML = treinos[0].TREINOS
            document.querySelector('#perfil-rating').value = treinos[0].NIVEL
            document.querySelector('#val-nivel').innerHTML = treinos[0].NIVEL            
        }

        const params = new Object;
        params.id_user =  usr

        const myPromisse = queryDB(params,22);
        myPromisse.then((resolve)=>{
            const treinos = JSON.parse(resolve)

            if(treinos.length == 0){
                const myPromisse = queryDB(params,11);
                myPromisse.then((resolve)=>{
                    fillUserData(JSON.parse(resolve))
                })
            }else{
                document.querySelector('#last-4').innerHTML = treinos.length
                for(let i=0; i<treinos.length; i++){          
                    try{                                      
                        const day =  document.getElementById(treinos[i].data.substr(0,10))
                        day.classList.add(parseInt(treinos[i].HAPPEND) ? 'day-trainning' : 'day-confirm')
                    }catch{

                    }
                }
                fillUserData(treinos)
            }
        })
    }

    getPerfil()
    removeHash()

  
</script>