<title>
    
</title>
<template>
    <style>
        
        input[type="email"], input[type="password"]{
            width: 95%;
            height: 30px;
        }

        .frm-user{
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .img-perfil{
            display: flex;
            flex-direction: column;
            max-width: 300px;
            align-items: center;
            gap: 10px;
            padding: 5px;
            width: 40%;
        }

        .data-perfil{
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            width: 60%;
            justify-content: center;
        }

        .top-perfil{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 100%;
        }

        .top-perfil * {
            width: 50%;
        }

        .img-perfil *, .data-perfil *{
            width: 95%;
        }

        .line *{
            width: 100%;
        }

        #cnvImg{
            border-radius: 10% !important;
            cursor: pointer;
        }

        #cnvImg:hover{
            border: 1px solid red;
        }

        @media (max-width: 769px) {

            .data-perfil, .img-perfil{
                width: 100%;                
            }

        }

    </style>

    <div class="frm-user">
        
        <div class="img-perfil">
            <canvas width="300" height="300" id="cnvImg"></canvas>
            <input  name="up_file" id="up_file" type="file" accept=".jpg,.jpeg,.png">
    
            <button id="btnUpload" class="btn btn-primary">upload</button>
        </div>

        <div class="data-perfil">

            <div class="top-perfil">
                <input id="edtMail" type="email" maxlength="70" inputmode="email" placeholder="* Email" onkeyup="validate(this)" >
                <input id="edtNick" type="text" maxlength="15" placeholder="* Nick" onkeyup="valNoSpace(this)">
                <input id="edtPass" type="password" maxlength="12" placeholder="* Senha" onkeyup="valNoSpace(this)">
                <input id="edtRePass" type="password" maxlength="12" placeholder="* Repita a Senha" onkeyup="valNoSpace(this)">
                <button id="btnSave" class="btn btn-primary">Save</button>                
            </div>



        </div>


    </div>

    

</template>
<script>

    document.querySelector('.title-viewUser').innerHTML = localStorage.getItem('email')
    document.querySelector('#edtMail').value = localStorage.getItem('email')
    document.querySelector('#edtNick').value = localStorage.getItem('nick')

    document.querySelector('#btnUpload').addEventListener('click',()=>{
        uploadImage('up_file','/../assets/users/',localStorage.getItem('idUser')+'.jpg')
        .then(()=>{
            openMenu()
        })
    })

    document.querySelector('#up_file').addEventListener('change',()=>{
        showFile('#up_file','#cnvImg')     
    })

    document.querySelector('#cnvImg').addEventListener('click',()=>{
        openHTML('perfil.html','modal',{id:localStorage.getItem('idUser')})
    })



    document.querySelector('#btnSave').addEventListener('click',()=>{
        const pass = document.querySelector('#edtPass').value.trim()
        const repass = document.querySelector('#edtRePass').value.trim()
        const nick = document.querySelector('#edtNick').value.trim()

        if(checkMail('#edtMail')){
            if(pass == repass){
                if(goon('edtPass,edtMail')){
                    const email = document.querySelector('#edtMail').value.trim().toLowerCase()
                    const params = new Object;
                        params.id = localStorage.getItem('idUser')
                        params.email = email
                        params.hash = (email+pass).getHash(77)
                        params.nick = nick
                    const myPromisse = queryDB(params,1);
                    myPromisse.then((resolve)=>{
                        alert('Usuário e senha foram salvos com sucesso!')
                        localStorage.setItem('email',params.email)
                        localStorage.setItem('hash',params.hash)
                        localStorage.setItem('nick',params.nick)
                        closeModal()
                    })
                }
            }else{
                alert('As senhas não conferem.')
                document.querySelector('#edtRePass').focus()
            }
        }
    })


    const back = backFunc({'filename':`../assets/users/${localStorage.getItem('idUser')}.jpg`},1)

    back.then((resp)=>{
        const imgExist = JSON.parse(resp)
        const path = imgExist ? `assets/users/${localStorage.getItem('idUser')}.jpg` : 'assets/default/user.jpeg'    
        loadImg(path)
    })



</script>